
@media screen and (max-width: 900px){
div.one-third {
    width:47.5%;
    float: left;
    margin-right: 2%;
    margin-top:10px;
    margin-bottom:10px;
    }
}

@media screen and (max-width: 500px){
div.one-third {
    height:auto;
    width:100%;
    float: none;
    margin-right: 0;
    margin-left: -20;
    }

    
}


